.page--people{



	.modalDialog {
		position: fixed;
		font-family: Arial, Helvetica, sans-serif;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.4);
		z-index: 99999;
		opacity:0;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		pointer-events: none;
	}
	.modalDialog:target {
		opacity:1;
		pointer-events: auto;
	}

	.modalDialog > div {
		width: 739px;
		height: 389px;
		position: relative;
		margin: 10% auto;
		padding: 18px 20px 13px 20px;
		
		background: #fff;
		font-family: 'robotoslab-regular';
		h4{
			font-weight:normal;
			font-size: 22px;
			color: #918C00;
			line-height: 1em;
			padding-bottom: 4px;
			font-family: 'robotoslab-bold';
		}
		h6{
			font-weight:normal;
			font-size: 16px;
			font-family: 'robotoslab-regular';
			color: #666666;
			padding-bottom: 4px;
			line-height: 1em;
		
		}
		p{
			color: #858585;
			margin-bottom: 20px;
			line-height: 1.2em;
			&.email{
				padding-bottom: 8px;
				font-family: 'Helvetica Neue';
				width: 130px;
				margin-bottom: 8px;
				color: #858585;
				margin-top:8px;
				text-decoration: underline;
			}
		}
		
	}
	.close {
		
		position: absolute;
		right: 15px;
		text-align: center;
		top: 20px;
	
	}



	margin-bottom: 80px;
	.row{
		// &.center{
		// 	@include center(960px);
		// }
		margin-top: 40px;
		position: relative;
		width: 940px;
		// left:20px;
		.col-3-12{
			@include column(3/12);
			img{
				margin-bottom: 5px;
			}
		}
		h5{
			font-size: 18px;
			font-weight: normal;
			font-family: 'robotoslab-bold';
			color: #918C00;
			margin-bottom: 3px;
		}
		p{
			font-size: 16px;
			color: #666666;
		}

	}


}