$white: #FFFFFF;

/* mobile + tablet */
$device: max-width 768px;

/* strictly mobile*/
$strict-mobile: max-width 480px;
/* strictly tablet*/
$mobile-tablet: 480px 768px;

$large-screen: max-width 1200px;